{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        {% for image in room.images.all %}

            <img src="{{ image.image.url }}"
                 class="img-fluid rounded mb-3">

        {% endfor %}

    </div>

    <div class="col-md-6">

        <h1>{{ room.title }}</h1>

        <p>{{ room.description }}</p>

        <h4>${{ room.price }}</h4>

        <p>Capacity: {{ room.capacity }}</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">
                Book now
            </button>
        </form>

    </div>

</div>

{% endblock %}